html, body {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    background-color: midnightblue;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    height: 80%;
}

.first, .second{
    background-color: lightskyblue;
    margin: 5px;
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first{
    align-items: center;
    justify-content: center;
}

.body{
    background: linear-gradient(to bottom, red 0%, blue 100%);
}

.links li{
    display: inline-block;
    margin-right: 8px;
}
.links a{
    text-decoration: none;
    padding: 4px;
}
.links a:hover{
    background-color: rgba(red, green, blue, alpha);
}

.name{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2px;
}

.pic {
    border-radius: 50%;
}